<div class="header" [ngClass]="scrolled ? 'page-scrolled' : 'page-top'" >
    <div class="container d-flex">
        <div class="logo logo-dark d-flex align-items-center">
            <a href="">
                <img src="assets/images/logo/logo.png" alt="Logo">
            </a>
        </div>
        <div class="nav-wrap">
            <ul class="nav-right">

                <li *ngFor="let a_data of routingDataset;" class="d-none d-lg-block">
                    <a href="{{a_data.routing}}" [routerLinkActiveOptions]="{exact: true}" [routerLink]="[a_data.routing]" [routerLinkActive]="['active']" class="font-size-14 mr-2">{{a_data.section}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>    